--find-links https://download.pytorch.org/whl/torch_stable.html
torch== 2.0.0+cpu
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.15.0+cpu
Flask==3.0.0
Pillow==10.1.0
pytesseract==0.3.10
texify==0.1.8
gunicorn==20.1.0
tesseract==0.1.3
